{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div><canvas id="dailycanvas" width="14" height="3" style="border:1px solid #000000";></canvas></div>
                <div class="col-sm-12">
                    <div class="col-sm-6"><canvas id="yearlycanvas" width="10" height="4" style="border:1px solid #000000";></canvas></div>
                    <div class="col-sm-6"><canvas id="montlycanvas" width="10" height="4" style="border:1px solid #000000";></canvas></div>
                </div>
                
                
            </div>
            <div class="item">item2
                <div><canvas id="dbmdailycanvas" width="14" height="5" style="border:1px solid #000000";></canvas></div>
                <div class="col-sm-12">
                    <div class="col-sm-6"><canvas id="dbmyearlycanvas" width="5" height="13" style="border:1px solid #000000";></canvas></div>
                    <div class="col-sm-6"><canvas id="dbmmontlycanvas" width="5" height="13" style="border:1px solid #000000";></canvas></div>
                </div>
            </div>
            <!-- <div class="item">item3</div>-->
            
        </div>
        <!-- Left and right controls
        Indicators
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
        -->
    </div>
</div>


{% endblock content %}
<script>
{% block jquery %}
    <script src="{% static 'js/scmbarcharts.js'%}"></script>

{% endblock jquery%}
</script>